<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LeagueGrid</title>
	<script src="https://unpkg.com/htmx.org@1.9.5"></script>
	<script src="https://cdn.tailwindcss.com"></script>
	<!--This uses flask templates-->
	<script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
</head>

<body class="bg-gray-900 text-white">
	<header class="flex justify-center items-center p-4 bg-gray-800 shadow-lg">
		<div class="flex jusitems-center space-x-2">
			<img src="{{ url_for('static', filename='assets/logo.png') }}" alt="Logo" class="h-8">
		</div>
		<!--This is temporary nav -->
		<nav class="flex space-x-4">
		</nav>
	</header>
	<main class="flex items-center justify-center flex-grow p-8">
		<div class="flex flex-col">
			<div class="flex flex-row-reverse gap-1 border border-gray-700">
				{% for tquestion in top_questions %}
				<div class="text-center bg-gray-600 w-32 h-32 p-2 font-bold border border-gray-700">
					{{ tquestion }}
				</div>
				{% endfor %}
			</div>
			<div class="flex flex-row">
				<div class="flex flex-col gap-1 border border-gray-700">
					{% for lquestion in left_questions %}
					<div class="text-center bg-gray-600 w-32 h-32 p-2 font-bold border border-gray-700">
						{{ lquestion }}
					</div>
					{% endfor %}
				</div>
				<div class="grid grid-cols-3 gap-1 border border-gray-700">
					{% for row in grid %}
					{% for item in row %}
					<div class="bg-gray-700 w-32 h-32 transition-colors duration-200 hover:bg-gray-500">{{ item }}</div>
					{% endfor %}
					{% endfor %}
				</div>
			</div>
		</div>
	</main>
</body>

</html>
